<footer class="text-muted">
	<div class="container">
	<p class='float-left'>
	  <%= copyright_generator %>
	</p>
	<p class='float-right'> 
	  <%= link_to "View All Porfolio Items", portfolios_path %> / 
	  <a href="#">Back to top</a>
	</p>
	</div>
</footer>