<h1>About me</h1>

<hr>

<div class="row">
	<div class="col-md-8">

		<%= image_tag "reyezuelo.jpg", width: 500, alt: "profile image" %>

    </div>
    <div class="col-md-4">
		<p>Developer with skills in web design, javascript, React, Vue and Ruby On Rails. 10 years of experience in international projects</p>
	</div>
</div>
