<h1>Pages#contact</h1>
<p><%= number_to_phone "1234567890" %></p>
<p><%= number_to_currency "500" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "1234567890" %></p>
<p><a href="mailto:fake@email.com?subject=Consulta">Send me an e-mail</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d189.86095741760977!2d-3.6922719237069614!3d40.41382792854966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289d5021990d%3A0xbfe59efe4800b828!2sPaseo%20del%20Prado%2C%20s%2Fn%2C%2028014%20Madrid!5e0!3m2!1ses!2ses!4v1592051809798!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>